.App {
  text-align: center;
}

.container {
  height: 100%;
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100vw;
    padding: 0;
  }
}
