.App {
  text-align: center;
}

.container {
  height: 100%;
  width: 1260px;
  margin: 0 auto;

  display: flex;
}

/* 
----------- header ----------------
*/
header {
  background-color: black;

  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItem {
  width: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItem svg {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  color: rgb(202, 199, 199);
}

.headerItem input {
  height: 40px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.headerItem input:focus {
  outline: none;
  background-color: rgb(202, 199, 199);
}

.headerItem h1 {
  color: beige;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItem h1 svg {
  height: 40px;
  width: 40px;
  color: red;
}

.headerItem a {
  text-decoration: none;
}

.headerItem button {
  height: 40px;
  width: 140px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.4s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.headerItem button:hover {
  background-color: rgb(202, 199, 199);
}

.headerItem button svg {
  color: black;
}

/* 
--------------- car form -----------------
*/

form {
  margin: 0 auto;
  margin-top: 60px;
  width: 400px;

  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

form input {
  height: 40px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

form input:focus {
  outline: none;
  background-color: rgb(202, 199, 199);
}

form button {
  height: 40px;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 30px;
}

form button:hover {
  background-color: rgb(202, 199, 199);
}

/* 
--------------- car list -----------------
*/

.carList {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 60px;
}

.carItem,
.listHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.listHeader {
  background-color: rgb(71, 70, 70);
}

.itemHeader h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemHeader span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.itemHeader span:hover svg {
  color: white;
}

.itemHeader svg {
  color: rgba(255, 255, 255, 0.3);
  width: 24px;
  height: 24px;
}

.carBrand,
.carModel {
  width: 30%;
}

.carYear {
  width: 15%;
}

.buttonsWrapper {
  flex: auto;
}
.buttonsWrapper button {
  border: none;
  margin: 0 8px;
  background-color: transparent;
  cursor: pointer;
}
.buttonsWrapper svg {
  height: 30px;
  width: 30px;
  transition: all 0.4s ease;
}

.btnEdit {
  color: green;
}
.btnEdit:hover {
  color: greenyellow;
}
.btnDelete {
  color: rgba(255, 0, 0, 0.4);
}
.btnDelete:hover {
  color: rgba(255, 0, 0, 1);
}
