.App {
  text-align: center;
}

/* 
----------- header ----------------
*/
header {
  background-color: black;

  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  height: 100%;
  width: 1260px;
  margin: 0 auto;

  display: flex;
}

.headerItem {
  /* border: 1px solid red; */
  width: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerItem input {
  height: 40px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.headerItem input:focus {
  outline: none;
  background-color: rgb(202, 199, 199);
}

.headerItem h1 {
  color: beige;
  margin: 0;
  padding: 0;
}
.headerItem a {
  text-decoration: none;
}

.headerItem button {
  height: 40px;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.headerItem button:hover {
  background-color: rgb(202, 199, 199);
}
